<a href="https://colab.research.google.com/github/obiezue1/TEST/blob/main/Cross_Validation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cross Validation

Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

Importing the Models

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

Data Collection and Preprocessing

In [ ]:
# Loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('/content/heart.csv')

In [ ]:
# Print first 5 rows of the dataset
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
# Print first 5 rows of the dataset
heart_data.tail()

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[5 rows x 14 columns]

In [ ]:
# number of rows and columns in the dataset
heart_data.shape

(303, 14)

In [ ]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# checking the distribution of Target  Variables
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

Splitting the Features and Target

In [ ]:
X = heart_data.drop(columns='target', axis=1)
y = heart_data['target']

In [ ]:
# 1 --> Defective heart
# 0 --> Healthy heart

In [ ]:
print(X)

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]

#**Splitting the Training and Test**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify= y, random_state=3)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Comparing the Performance of the Models

In [ ]:
# List of models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [ ]:
def compare_models_train_test():
  
  for model in models:

    model.fit(X_train, y_train)

    test_data_prediction = model.predict(X_test)

    accuracy = accuracy_score(y_test, test_data_prediction)

    print('Accuracy score of the ', model, ' = ', accuracy)

In [ ]:
compare_models_train_test()

Accuracy score of the  LogisticRegression(max_iter=1000)  =  0.7704918032786885
Accuracy score of the  SVC(kernel='linear')  =  0.7704918032786885
Accuracy score of the  KNeighborsClassifier()  =  0.6557377049180327
Accuracy score of the  RandomForestClassifier()  =  0.7868852459016393

#**Cross Validation**

In [ ]:
#Logistic Regression

In [ ]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), X, y, cv = 5)

In [ ]:
print(cv_score_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]

In [ ]:
mean_accuracy_lr = sum(cv_score_lr)/len(cv_score_lr)

mean_accuracy_lr = mean_accuracy_lr* 100

mean_accuracy_lr = round(mean_accuracy_lr, 2)

print(mean_accuracy_lr)

82.83

## Support Vector Machine

In [ ]:
cv_score_svc = cross_val_score(SVC(kernel='linear'), X, y, cv = 5)

print(cv_score_svc)

mean_accuracy_scv = sum(cv_score_svc)/len(cv_score_svc)

mean_accuracy_scv = mean_accuracy_scv* 100

mean_accuracy_scv = round(mean_accuracy_scv, 2)

print(mean_accuracy_scv)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

## KNeighborsClassifier

In [ ]:

knc = KNeighborsClassifier(n_neighbors=5)

cv_score_KNC = cross_val_score(knc,X, y, cv = 5)

print(cv_score_KNC)

mean_accuracy_knc = sum(cv_score_KNC)/len(cv_score_KNC)

mean_accuracy_knc = mean_accuracy_knc* 100

mean_accuracy_knc = round(mean_accuracy_knc, 2)

print(mean_accuracy_knc)

[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
64.39

## Random Foresst Classifier

In [ ]:
RFC = RandomForestClassifier()

cv_score_RFC = cross_val_score(RFC,X, y, cv = 5)

print(cv_score_RFC)

mean_accuracy_RFC = sum(cv_score_RFC)/len(cv_score_RFC)

mean_accuracy_RFC = mean_accuracy_RFC* 100

mean_accuracy_RFC = round(mean_accuracy_RFC, 2)

print(mean_accuracy_RFC)

[0.81967213 0.86885246 0.81967213 0.83333333 0.78333333]
82.5

## Creating a Function to compare the models

In [ ]:
# List of models
models = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [ ]:
def compare_models_cross_validation():
  
  for model in models:

    cv_score = cross_val_score(model, X, y, cv=5)

    mean_accuracy = sum(cv_score)/len(cv_score)

    mean_accuracy = mean_accuracy*100

    mean_accuracy = round(mean_accuracy, 2)

    print('Cross Validation accuracies for the ', model, ' = ', cv_score)

    print('Accuracy % of the model ', mean_accuracy)

    print('.............................................')

In [ ]:
compare_models_cross_validation()

Cross Validation accuracies for the  LogisticRegression(max_iter=1000)  =  [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
Accuracy % of the model  82.83
.............................................
Cross Validation accuracies for the  SVC(kernel='linear')  =  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy % of the model  82.83
.............................................
Cross Validation accuracies for the  KNeighborsClassifier()  =  [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy % of the model  64.39
.............................................
Cross Validation accuracies for the  RandomForestClassifier()  =  [0.81967213 0.90163934 0.81967213 0.81666667 0.78333333]
Accuracy % of the model  82.82
.............................................