<a href="https://colab.research.google.com/github/obiezue1/TEST/blob/main/TitanicMissingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Titanic Data Science Solution

#### On April 15, 1912, during her maiden voyage, the Titanic sank after colliding with an iceberg, killing 1502 out of 2224 passengers and crew. Translated 32% survival rate.
#### One of the reasons that the shipwreck led to such loss of life was that there were not enough lifeboats for the passengers and crew.
#### Although there was some element of luck involved in surviving the sinking, some groups of people were more likely to survive than others, such as women, children, and the upper-class.

In [1]:
#pip install datawig

In [ ]:
import pandas as pd
from sklearn.linear_model import  LinearRegression
import datawig
import numpy as np

In [ ]:
data = pd.read_csv("train.csv")

In [ ]:
##Deleting Rows with Missing Values

In [ ]:
print(data.isna().sum())
print(data.shape)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
(891, 12)

In [ ]:
data.dropna(inplace=True)
print(data.isna().sum())
print(data.shape)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
(183, 12)

## Impute missing values with mean or median

In [ ]:
data = pd.read_csv("train.csv")

In [ ]:
data["Age"][:20]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64

In [ ]:
data["Age"] = data["Age"].replace(np.NaN, data["Age"].mean())
print(data["Age"][:20])

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
15    55.000000
16     2.000000
17    29.699118
18    31.000000
19    29.699118
Name: Age, dtype: float64

## Imputation method for categorical columns

In [ ]:
#data = pd.read_csv("train.csv")

In [ ]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
data["Cabin"] = data["Cabin"].fillna('u')

In [ ]:
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

## Use the last valid observation to fill the missing value

In [ ]:
data = pd.read_csv("train.csv")

In [ ]:
data["Age"] = data["Age"].fillna(method='ffill')

## For the time-series dataset variable, it makes sense to use the INTERPOLATION of the variable beofre and after a timestamp for a missing value

In [ ]:
data["Age"] = data["Age"].interpolate(method='linear', limit_direction='forward', axis=0)

## Use Algorithms that Support Missing Values:
## kNN
## RandomForest

## 4 Make Prediction of Missing Values

In [ ]:
data = pd.read_csv("train.csv")
data = data[["Survived", "Sex", "SibSp", "Parch", "Fare", "Age"]]

In [ ]:
data["Sex"] = [1 if x=="male" else 0 for x in data["Sex"]]

In [ ]:
test_data = data[data["Age"].isnull()]

In [ ]:
data.dropna(inplace=True)

In [ ]:
y_train = data["Age"]
X_train = data.drop("Age", axis=1)
X_test = test_data.drop("Age", axis=1)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = model.predict(X_test)